<footer>
  <div class="container">
    <div class="grid">
      <p class="footnote">Pockity © 2019 - 2024 Dezine Zync Studios LLP. - All Rights Reserved.</p>
      <div>
        <!-- Spacer -->
      </div>
      <nav class="footlinks footnote">
        <div></div>
        <a href="mailto:support@pockity.app" target="_blank">Support</a>
      </nav>
    </div>
  </div>
</footer>
<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "82f95652f7e9414fbdffe3c69003b818"}'></script>
<!-- End Cloudflare Web Analytics -->