<header>
	<div class="container">
		<div class="grid align-baseline">
			<div id="logo-title">
				<picture class="linked" onclick="window.location.href='/'">
					<img 
            src="/assets/images/appicon/appicon.png" 
            srcset="/assets/images/appicon/appicon@2x.png 2x, /assets/images/appicon/appicon@3x.png 3x" 
            width="60" 
            height="60"
          />
				</picture>

				<h1>{{ site.title }} <span>{{ site.caption }}</span></h1>
			</div>
      <div>
        <!-- Spacer -->
      </div>
			<nav>
        <div></div>
				<a href="mailto:support@elytra.app" target="_blank">Support</a>
			</nav>
		</div>
	</div>  
</header>