<header>
	<div class="container">
		<div id="logo-title">
			<picture class="linked" onclick="window.location.href='/'">
				<img 
          src="{{ "/assets/images/appicon/appicon.png" | absolute_url }}" 
          srcset="{{ "/assets/images/appicon/appicon@2x.png" | absolute_url }} 2x, {{ "/assets/images/appicon/appicon@3x.png" | absolute_url }} 3x" 
          width="48" 
          height="48"
          alt="Pockity App Icon"
        />
			</picture>

			<h1><a href="/">{{ site.title }}</a> <span>{{ site.caption }}</span></h1>
		</div>
		<nav>
			<ul>
				<li><a href="mailto:support@pockity.app" target="_blank">Support</a></li>
			</ul>
		</nav>
	</div>  
</header>
