[data-theme="light"], :root:not([data-theme="dark"]) {
  --dz-brand-color: AccentColor;
  --dz-background-color: Canvas;
}

@media only screen and (prefers-color-scheme: dark) {
  :root, :root:not([data-theme=light]) {
    --color: CanvasText;
    --dz-background-color: Canvas;
    --dz-brand-color: AccentColor;
  }
}