:root {
  --dz-brand-color: #5856D6;
}

@media only screen and (prefers-color-scheme: dark) {
  :root, :root:not([data-theme=light]) {
    --color: #EFEFF0;
    --dz-background-color: #2F3035;
    --dz-brand-color: #5E5CE6;
  }
}