header {
  vertical-align: middle;

  #logo-title {
    align-items: center;
  }

  h1 {
    margin-bottom: 0;
  }
}

header:not(.scrolled) {
  h1 span { 
    display: none;
  }
}

footer {
  margin-top: 4rem;
  padding-bottom: 1rem;
}

body.landing {
  header {
    nav {
      display: none;
    }
  }

  footer {
    .footlinks a {
      font-size: inherit;
    }    
  }
}

/*** MAIN ***/
main {
  margin-top: 2rem;
  min-height: calc(100vh - 15rem);

  .page-content {
    max-width: 64ch;
    margin: 0 auto;

    picture {
      display: block;
    }
  }

  .page-content {
    padding: 0 1rem;

    hr {
      margin-bottom: 1rem;
    }

    &.no-style {
      box-shadow: none;
      border-radius: 0;
    }

    p {
      margin-bottom: 0.5rem;
    }

    p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
      margin-top: 1.5rem;
    }

    picture:has(img.inline) {
      display: inline-block;
      text-align: center;
      border-radius: 5pt;
      overflow: hidden;
    }
  }

  nav {
    flex-direction: column;
    justify-content: unset;

    a {
      font-size: 0.85rem;
      margin-bottom: 0.25rem;

      &:hover {
        transform: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  body.landing {
    footer {
      .grid {
        grid-template-columns: 2fr 1fr 1fr;
      }
    }
  }

  main .grid {
    grid-template-columns: 1fr 4fr;

    nav {
      padding-left: 0.5rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  main .grid nav {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -1rem 0 1rem;

    a {
      margin-left: 0.5rem;
    }
  }
}